:root {
  --clr-neutral-black: hsl(0, 75%, 2%);
  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-primary: hsl(24, 57%, 57%);
  --clr-secondary: rgba(255, 127, 80, 0.218);
  --clr-neutral: hsla(3, 48%, 45%, 0.645);
  --clr-home: hsl(23, 37%, 89%);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  border: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
  background-color: var(--clr-primary);
  color: white;
}

.header-button {
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  margin: 1rem 3rem 1rem 3rem;
  color: var(--clr-neutral-white);
  background: none;
  border: none;
  cursor: pointer;
}

.header-button:hover {
  font-weight: bold;
}

.header-title {
  text-align: center;
  font-size: 3rem;
}

.image-title {
  height: 200px;
  width: 200px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.image-title:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  overflow: auto;
  grid-gap: 20px;
  width: 60vw;
  margin-bottom: 1rem;
}

.menu-items {
  justify-self: center;
  border-radius: 1rem;
  border: 5px solid transparent;
  height: 410px;
  overflow: hidden;
}

.menu-items:hover {
  cursor: pointer;
  border: 5px solid var(--clr-secondary);
}

.card-image {
  height: 335px;
  width: 335px;
  object-fit: cover;
  object-position: 50% 50%;
}
.card-title {
  text-align: center;
  font-weight: 400;
  color: var(--clr-primary);
  margin: 2px;
}

.card-paragraph {
  text-align: center;
  color: var(--clr-neutral);
  margin: 0;
}

.social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-secondary);
  gap: 1rem;
  height: 100px;
  width: 100vw;
}

.social-media-button {
  background-color: transparent;
  font-size: 1rem;
  padding: 10px;
  width: 8rem;
  border: var(--clr-primary) solid 1px;
  color: var(--clr-primary);
}

.social-media-button:hover {
  font-weight: bolder;
  cursor: pointer;
}

.footer-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary);
  gap: 1rem;
  height: 150px;
  width: 100vw;
}

.footer-button {
  background-color: transparent;
  font-size: 1rem;
  padding: 10px;
  width: 8rem;
  border: var(--clr-neutral-white) solid 1px;
  color: var(--clr-neutral-white);
}

.footer-button:hover {
  font-weight: bolder;
  cursor: pointer;
}

/** home section below **/

.home-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 60vh;
  background-color: var(--clr-home);
}

.home-title {
  color: var(--clr-neutral-white);
  font-size: 3.5rem;
}

.home-image {
  height: 400px;
  width: 400px;
  background-color: none;
  object-fit: cover;
  object-position: 50% 50%;
}
